@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Roboto:wght@100&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-image:url(87252.jpg);
}

.heading{
    color: aliceblue;
    font-family: 'Golos Text', sans-serif;
}

.container0{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 156px;
    font-size: 25px;
}

form{
    margin-top: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: initial;
    align-self: center;
}

input#search {
    font-size: 17px;
    width: 250px;
    height: 27px;
    border-bottom-color: antiquewhite;
    background-color: unset;
    border-left: 1px solid transparent;
    border-radius: -1px 0 0 19px;
    border-right: 2px solid #e5e2df;
    border-top: 1px solid transparent;
    margin-left: 10px;
    text-align: center;
    color: aliceblue;

}

button:hover{
    background-color: rgb(139, 139, 251);
    color: aliceblue;
    cursor: pointer;
}

::placeholder{
    color: rgb(197, 211, 222);
}

button{
    font-size: 15px;
    width: 62px;
    border-bottom-right-radius: 22px;
    border-top-right-radius: 23px;
    height: 28px;
}

.card{
    margin: 25px auto;
    padding:22px 30px 30px 40px;
    color: #ffffff9c; 
    background: #8a8888c1;
    background-blend-mode: color-burn;
    border-radius: 30px;
    width: 100%;
    max-width: 420px; 
}

h3#weather {
    font-size: 33px;
}

.img{
    display: flex;
    flex-direction:row;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}

img.icon {
    max-width: 100%;
    width: 101px;
    max-height: 100%;
    height: 13vh;
}

.weather-details h2 {
    justify-content: center;
    display: flex;
    font-family: sans-serif;
    color: rgb(207, 200, 200);
    font-weight: 500;
    font-size: 25px;
}

.time{
    display: flex;
    flex-direction: column-reverse;
    color: #ffffff9c;
    font-family: sans-serif;
    justify-content: right;
    color: #ffffff9c;   
}

h3#date {
    justify-content: end;
    display: flex;
}

h3#time {
    justify-content: end;
    display: flex;
}

.card{
    font-family: sans-serif;  
}

#temperature{
    color: #ffffff9c;
    font-size: 40px; 
}

.humid{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
